<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post", action="/editStu/", id="stu_name">
        <p>学生姓名:<input type="text", name="stu_name", value="{{ data_get.stu_name }}"></p>
        <input type="hidden", name="stu_id", value="{{ data_get.id}}">
<!--        <p>学生班级:<input type="text", name="class_name" value="{{ stu_list.class_name }}"></p>-->
        <input type="submit">
        <select name="class_id", form="stu_name">
            {% for item in class_list %}
                {% if item.id == data_get.class_id %}
                    <option selected value="{{ item.id }}">{{ item.class_name }}</option>
                {% else %}}
                    <option  value="{{ item.id }}">{{ item.class_name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
</body>
</html>