<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>用户登入</h1>
    <form method="post" action="/login/">
        <input type ="text" name="username">
        <input type ="password" name="passwd">
        <input type="submit" value="登入">
        {{msg}}
        <img src="/static/a.jpg"  alt="上海鲜花港 - 郁金香" />
    </form>
<h1>{{li.0}}</h1>
<h1>{{li.1}}</h1>
<h1>{{li.2}}</h1>
<h1>{{li.3}}</h1>
<h1>{{li}}</h1>
<h1>{{dc.a}}</h1>
<h1>{{dc.b}}</h1>

{% for item in li %}
  <h1>{{item}}</h1>
{% endfor %}


{%  for item in dc %}
    <h1>{{item}}</h1>
{% endfor %}


</body>
</html>